table {
    width: 100%;
    min-width: 850px;
    table-layout:fixed;
}
  
table th{
    border:1px solid #555;
}
  
table tbody tr:hover {
    background-color: #333;
}

table thead {
    background-color: #14213d;
    color: #CCC;
    font-size: 32px;
    padding-top: 50px;
}

table thead th {
    padding: 10px;
}

table tbody th {
    padding-top: 5px;
    padding-bottom: 5px;
}

table th:nth-child(1) {
    width: 30%;
}

table th:nth-child(2) {
    width: 50%;
}

table tbody th:nth-of-type(3),
table tbody th:nth-of-type(4) {
  cursor: pointer;
}

table th:nth-child(3),
table th:nth-child(4) {
    width: 10%;
}

#title, #comment {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    background-color: #14213d;
    border:1px solid #555;
    resize: none;
}

#comment {
    margin-top: 5px;
    padding-top: 10px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    background-color: #14213d;
    border:1px solid #555;
    resize: none;
}

#priority {
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: #14213d;
    color: #FFF;
    cursor: pointer;
}

#priority option::selection,
#priority option:hover {
    background-color:#25365b;
    ;
}

#button {
    width: 100%;
    height: 70px;
    font-size: 20px;
    background-color: #14213d;
    border:1px solid #FFF;
    color: #FFF;
    cursor: pointer;
}

#button:hover {
    background-color: #25365b;
}